@import '~assets';

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $main-color;
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform: translate(-50%, -50%);
  fill: $second-color;
  stroke: $second-color;
}

.rotate_45 {
  transform: rotate(45deg);
  transform-origin: center;
}

.rotate {
  transform-origin: center;
  animation: rotate 1s ease-in-out infinite;
}

.rotate_back {
  transform-origin: center;
  animation: rotate 1s ease-in-out infinite;
  animation-direction: reverse;
}

.left {
  animation: move 1s ease-in-out infinite;
}

.right {
  animation: move 1s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(calc(90deg + 45deg));
  }
}
@keyframes move {
  50% {
    transform: translate(-30px, -30px);
  }
}
