@import '~assets/constants';
@import '~assets/mixins';

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: $movies-content-wrapper - 20px;
  margin: 0 auto;
  padding: 10px 5px;
  border-top: 2px solid $second-color;
  border-bottom: 2px solid $second-color;
}

.title {
  color: $movies-blue-color;
  font-family: $varela-round;
  font-size: 30px;
  line-height: 34px;

  @include lower-than($ipad-p) {
    font-size: 20px;
    line-height: 24px;
  }
}
