@import '~assets';
@import './theme/popup';
@import './theme/movies';

@include element(container) {
  @include flexbox(row, left, center, false);
  width: auto;
  cursor: pointer;
}

@include element(icon) {
  display: inline-block;

  @include mod(icon_position, left) {
    order: 0;
  }

  @include mod(icon_position, right) {
    order: 1;
  }
}

@include element(text) {
  display: inline-block;

  @include mod(icon_position, left) {
    order: 1;
  }

  @include mod(icon_position, right) {
    order: 0;
  }
}
