@import '~assets';

.container {
  display: inline-block;
  float: left;

  height: 25px;
  margin-left: 8px;

  cursor: pointer;
  user-select: none;

  outline: none;

  @include breakpoint($ipad-p) {
    width: 80%;
  }

  &:hover .icon {
    fill: $hover-color;
  }

  &:hover .text {
    color: $hover-color;
  }
}

.icon {
  display: block;
  float: left;

  width: 15px;
  height: 25px;
  margin-right: 5px;

  fill: $main-color;
}

.text {
  display: block;
  float: left;

  color: $main-color;

  font-family: $main-font;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
}
