@import '~assets/constants';
@import '~assets/mixins';

.container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 16px;
  padding: 0 25px;
  color: $main-color;
  font-weight: 100;

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 38px;
    width: 5px;
    height: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: $main-color;
    content: '';
  }

  &.black {
    width: 50%;
    margin-bottom: 5px;
    float: left;
    color: $second-color;
    font-weight: 400;

    &::before {
      background-color: $second-color;
    }

    @include lower-than($ipad-p) {
      width: 100%;
    }
  }
}

.text {
  height: 100%;
  padding-left: 28px;
  color: inherit;
  font-family: $main-font;
  font-size: 12px;
  font-weight: inherit;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialised; // sass-lint:disable-line no-vendor-prefixes
}

.chart {
  width: 79px;
  height: 8px;
  border: 1px solid $main-color;
  border-radius: 5px;
  background-image: linear-gradient(to top, $main-color, $main-color);
  background-repeat: no-repeat;

  .black & {
    border: 1px solid $second-color;
    background-image: linear-gradient(to top, $second-color, $second-color);
  }
}
