@import '~assets/constants';
@import '~assets/mixins';

.container {
  @include clearfix;
  display: block;
  width: $ipad-p;
  min-height: $ipad-l;
  margin: 0 auto;
  background-image: linear-gradient(to right, $second-color 260px, $main-color 260px);
  box-shadow: 0 10px 80px 2px $black;
  @include lower-than($ipad-p) {
    width: 100%;
  }
  @include lower-than($iphone-l) {
    background-image: linear-gradient(to right, $second-color, $second-color);
  }
}
