@import '~assets/constants';
@import '~assets/mixins';

.container {
  @include lower-than($mac-book) {
    padding: 0;
  }

  width: 100%;
  max-width: 1480px;
  margin: 0 auto 80px;
  padding: 0 100px;
}

