@import '~assets/constants';
@import '~assets/mixins';

.container {
  @include lower-than($ipad-l) {
    width: 25%;
  }

  @include lower-than($iphone-l) {
    width: 50%;
  }

  display: block;
  width: 20%;
  margin-bottom: 15px;
  padding: 5px;
  font-family: $varela-round;
}

.image {
  @include lower-than($iphone-l) {
    max-height: auto;
  }

  width: 100%;
  height: calc(100% - 77px); //container height minus text block height and bottom-margin
  margin-bottom: 15px;

}

.image img {
  height: 100%;
}

.title {
  margin: 3px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.genres {
  display: block;
  min-height: 12px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popularity {
  display: block;
  height: 18px;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
}

.popularity_icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  float: right;
  fill: $movies-yellow-color;
}

.popularity_text {
  display: inline-block;
  height: 18px;
  float: right;
  line-height: 18px;
}
