@import '~assets';

$second-color-light: rgba($second-color, .1);
$gutter: 20px;

@include element(container, popup) {
  height: 40px;
  margin: 0 10px;

  text-transform: uppercase;

  color: $second-color;

  font-family: $main-font;
  font-size: 14px;

  fill: $second-color;
  @include mod(is_disable) {
    pointer-events: none;

    color: $second-color-light;

    fill: $second-color-light;
  }

  &:hover {
    color: $hover-color;

    fill: $hover-color;
  }
}

@include element(text, popup) {
  margin: 0 5px;

  vertical-align: middle;

  font-weight: 600;
  line-height: 40px;
}

@include element(icon, popup) {
  width: 18px;
  height: 18px;
  margin: 0 5px;

  vertical-align: middle;
}
