@import '~assets';

$overlay-color: rgba($second-color, .8);

.overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  background-color: $overlay-color;
}

.interlayer {
  width: 100%;
  height: 100%;

  @include flexbox(column, center, center, false);
}

.container {
  position: relative;

  width: 90%;
  max-width: $mac-book;

  background-color: $main-color;

  @include flexbox(column, justify, center, false);
}

