@import '~assets/constants';

$second-color-light: rgba($second-color, .1);
$gutter: 20px;

.footer {
  height: 40px;
  border-top: 1px solid $second-color;
  background-color: $second-color-light;
}

.button {
  width: auto;
  height: 40px;
  padding-left: $gutter;
  float: left;
  cursor: pointer;
  fill: $second-color;

  &:hover {
    fill: $hover-color;
  }
}

.icon {
  width: 14px;
  height: 14px;
}

.button_send {
  width: auto;
  height: 40px;
  margin-right: 20px;
  float: right;
  color: $second-color;
  font-family: $main-font;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  fill: $second-color;

  &:hover {
    color: $hover-color;
    fill: $hover-color;
  }

  &.disable {
    color: $second-color-light;
    fill: $second-color-light;
    pointer-events: none;
  }
}

.text_send {
  margin-right: 10px;
  font-weight: 600;
  line-height: 40px;
  vertical-align: middle;
}

.icon_send {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
