@import '~assets';

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 16px;
  padding: 0 25px;

  color: $main-color;

  font-weight: 100;

  &::before {
    position: absolute;
    top: 50%;
    left: 38px;

    display: block;

    width: 5px;
    height: 5px;

    content: '';
    transform: translateY(-50%);

    border-radius: 50%;
    background-color: $main-color;
  }

  &.black {
    float: left;

    width: 50%;
    height: 15px; // fix ie bag
    margin-bottom: 5px;

    color: $second-color;

    font-weight: 400;

    @include breakpoint($ipad-p) {
      width: 100%;
    }

    &::before {
      background-color: $second-color;
    }
  }
}

.text {
  width: 60%; // ff fix item align
  height: 100%;
  padding-left: 28px;

  text-align: left;
  text-transform: uppercase;

  color: inherit;

  font-family: $main-font;
  font-size: 12px;
  font-weight: inherit;
  line-height: 16px;

  -webkit-font-smoothing: antialised; // sass-lint:disable-line no-vendor-prefixes
}

.chart {
  display: block;
  float: left;

  width: 40%;
  height: 8px;

  border: 1px solid $main-color;
  border-radius: 5px;
  background-image: linear-gradient(to top, $main-color, $main-color);
  background-repeat: no-repeat;

  .black & {
    border: 1px solid $second-color;
    background-image: linear-gradient(to top, $second-color, $second-color);
  }
}
