@import '~assets';

.container {
  width: 100%;
  padding-top: 30px;
}

.image {
  display: block;

  width: 115px; //IE fix: image width bigger then svg height in IE
  height: 115px; //IE fix: image height bigger then svg height in IE
  margin: 0 auto;
}

.mask {
  display: block;

  width: 118px;
  height: 118px;
  margin: 0 auto;
  margin-top: -115px; //Firefox fix: appear small strip at bottom

  fill: $second-color;
}

.name,
.sername {
  text-align: center;
  text-transform: uppercase;

  color: $main-color;

  font-family: $main-font;
  font-size: 30px;
  line-height: 28px;
}

.name {
  padding-top: 5px;

  font-weight: 100;
}

.sername {
  font-weight: 400;
}

.position {
  width: 100%;
  padding-top: 10px;

  text-align: center;

  color: $main-color;

  font-family: $main-font;
  font-size: 20px;
  font-weight: 100;
  line-height: 22px;
}

.temp {
  width: 38px;
  height: 38px;

  fill: $main-color;
}
