// Colors constants
$main-color: #fff;
$main-color-disable: rgba($main-color, .6);
$second-color: #1a2c3e;
$second-color-transparent: rgba($second-color, .9);
$error-color: #f00;
$hover-color: #5eb1bf;
$black: #000;


// Fonts constants
$main-font: 'Open Sans', sans-serif;

// Sizes constants
$mac-book: 1280px;
$ipad-l: 1024px;
$ipad-p: 768px;
$iphone-l: 667px;
$iphone-p: 375px;
