// Colors constants
$main-color: #fff;
$main-color-disable: rgba($main-color, .6);
$second-color: #1a2c3e;
$second-color-transparent: rgba($second-color, .9);
$error-color: #f00;
$hover-color: #5eb1bf;
$black: #000;

// Movies colors
$movies-blue-color: #184f6a;
$movies-yellow-color: #e8b047;

// Movies sizes
$movies-content-wrapper: 1080px;
$movies-header-height: 60px;

// Fonts constants
$main-font: 'Open Sans', sans-serif;
$chewy: 'Chewy', cursive;
$varela-round: 'Varela Round', sans-serif;

// Sizes constants
$mac-book: 1280px;
$ipad-l: 1024px;
$ipad-p: 768px;
$iphone-l: 667px;
$iphone-p: 375px;
