@import '~assets/reset';
@import '~assets/constants';
@import '~assets/mixins';

.container {
  @include clearfix;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  padding: 0 5px;
  background-color: $second-color;
  cursor: pointer;
  z-index: 1000;
  @include lower-than($ipad-p) {
    padding: 0;
    border-bottom: 1px solid $main-color;
    box-shadow: 0 -3px 20px 1px $black;
  }
}

:global(.menu_open).container {
  height: 100%;
}
