@import '~assets/constants';
@import '~assets/mixins';

.container {
  height: 25px;
  float: left;

  @include lower-than($ipad-p) {
    display: none;
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

:global(.menu_open) .container {
  display: block;
  opacity: 1;
}
