@import '~assets';

.container {
  margin-bottom: 10px;

  color: $movies-blue-color;

  @include clearfix;
  fill: $movies-blue-color;
}

.title {
  display: inline;
  float: left;

  padding: 0 5px;

  line-height: 22px;
}

.navigation {
  display: flex;
  float: right;

  padding: 0 5px;

  text-transform: uppercase;
}

.button {
  display: inline-block;

  height: 22px;
  margin-right: 5px;
  padding: 0 5px;

  transition: color .5s, background-color .5s, fill .5s;

  border: 1px solid $movies-blue-color;
  border-radius: 1px;

  font-size: 12px;
  line-height: 20px;

  &:hover {
    transition: color .5s, background-color .5s, fill .5s;

    color: $main-color;
    background-color: $movies-blue-color;

    fill: $main-color;
  }
}

.icon_prev,
.icon_next {
  display: inline-block;
  float: left;

  width: 11px;
  height: 11px;
}

.icon_prev {
  transform: rotateY(180deg);
}
