@import '~assets';

.container {
  display: block;
  width: calc(100% - 260px);
  padding-bottom: 26px;
  float: right;
  background-color: $main-color;

  @include breakpoint($iphone-l) {
    width: 100%;
    float: left;
  }
}
