@import '~assets';

.container {
  display: block;
  float: right;

  width: calc(100% - 260px);
  padding-bottom: 26px;

  background-color: $main-color;

  @include breakpoint($iphone-l) {
    float: left;

    width: 100%;
  }
}
